<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello World</title>
  {{--  {{ css('style') }}  --}}
</head>
<body>
  <section>
    <div class="subtitle"><p>First root</p></div>
  </section>
</body>
</html>
